# VS Code
.vscode/*.*

# Exclude keys.
**/*.key

# Exclude test config.
Source/Football-cli/Resources/config.user.json

# Template PowerShell Cmdlet.
Source/Football-cli/Resources/Template.Cmdlet.txt

# Any work in progress files.
**/wip.*
